<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= bootstrap_form_for [@topic,@post,@comment] do |form| %>
        <% if comment.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved</h2>

              </div>
            <% end %>

            <div class="field">
              <%= form.text_field :commenter ,value: @comment.commenter%>
            </div>

            <div class="field">
              <%= form.text_area :body,value: @comment.body %>
            </div>

            <div class="actions">
              <%= form.submit %>
            </div>
          <% end %>
      </div>
  </div>
</div>