<p> <%= will_paginate @post, renderer: BootstrapPagination::Rails%>
  <%# if not current_user.nil? %>
    <%#= link_to 'New Post' , new_topic_post_path(@topic),class: 'btn btn-primary btn-lg', id: "new_link", remote:true %>
  <%# end %>
  <%= link_to 'All Posts', topic_posts_path(@topic),class: 'btn btn-dark' %>
  <% if can? :edit, @topic %>
    <%= link_to 'Edit', edit_topic_path(@topic),class: 'btn btn-warning' %>
  <% end %>
  <%= link_to 'Back', topics_path,class: 'btn btn-secondary post-btn' %>
</p>

<p>
  <strong>Name:</strong>
  <%= @topic.name %>
</p>

<ul class="list-group">
  <% @post.post_show.each do |f| %>
    <li class="list-group-item"><%= link_to f.title , topic_post_path(@topic,f), class:"d-inline" %>
      <p class="d-inline">
        <%if not current_user.nil? and current_user.posts.include?(f) %>
          <span class="read-status">Read</span>
        <% else %>
          <span class="unread-status"> Unread </span>
        <% end %>
      </p>
      <% if can? :edit, f %>
       <%= link_to 'edit' , edit_topic_post_path(@topic,f),class: 'btn btn-warning post-btn' %>
      <% end %>
      <%= link_to 'show' , topic_post_path(@topic,f),class: 'btn btn-primary post-btn' %>
     </li>
  <% end %>
</ul>

<br>
