<h1>Ratings</h1>

<table class="table table-borderless">
  <thead>
    <tr>
      <th>Rating</th>
      <th>Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
      <tr>
        <td><%= rating.rating %></td>
        <td><%= rating.post.title %></td>
        <td><%= link_to 'Show', topic_post_rating_path(params[:topic_id],params[:post_id],rating) %></td>
        <td><%= link_to 'Edit', edit_topic_post_rating_path(params[:topic_id],params[:post_id], rating) %></td>
        <td><%= link_to 'Destroy', topic_post_rating_path(params[:topic_id],params[:post_id],rating), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_topic_post_rating_path %>
