<%= form_for [@tag],remote: true do |form| %>
  <%= render(partial: "layouts/error_display",locals: {error_display: tag}) %>
  <div class="form-group">
    <%= form.label :tag %>
    <%= form.text_field :tag,class: "form-control" %>
  </div>

  <div>
    <%= form.submit 'submit' , class: "btn btn-primary"  %>
  </div>
<% end %>
