      <%= bootstrap_form_for [@topic,@post]  do |p| %>
      <%#= form_for @post, url: topic_posts_path do |p| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved</h2>
          </div>
        <% end %>
        <%= p.fields_for :tags,@post.tags.build do |ff| %>
                  <div> 
            <%= ff.text_field :tag %>
          </div>
        <% end %>
        <%= p.text_field(:title) %>
        <%= p.text_area(:body) %>
        <%= p.collection_select :tag_ids, @tags, :id, :tag,{}, {multiple: true} %>
        <%= p.submit('submit') %>
      <% end %>
