<div class="container">
	<div class="row">
		<div class="col-md-offset-4">
			
			<%= bootstrap_form_for @post, url: topic_post_path, method: :patch do |p| %>
				<p>
					<%= p.text_field :title %>
				</p>
				<p>
					<%= p.text_area :body %>
				</p>
				<p>
				<%= p.collection_select :tag_ids, @tag, :id, :tag,{}, {multiple: true} %></p>
				<p> <%= p.submit %> </p>

			<% end %>
			<%= button_to 'Delete', topic_post_path , method: :delete, class: "btn btn-danger show-btn", 
                         data: { confirm: 'Are you sure?' } %>
			<%= button_to 'Edit', edit_topic_post_path , method: :get, class: "btn btn-warning show-btn" %>
		</div>
	</div>
</div>
