<div class="container">
	<div class="row">
		<div class="col-md-12">
      <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
          <%= content_tag :div, class: "alert alert-#{['success','notice'].include?(key) ? 'success' : 'danger'}" do %>
            <%= value %>
          <% end %>
          </div>
       <% end %>
			<br>
      <%= will_paginate @posts, renderer: BootstrapPagination::Rails%>
			 <% if not params[:topic_id].nil? %>
				 <%= link_to 'New Post' , new_topic_post_path(params[:topic_id]),class: 'btn btn-primary btn-lg btn-block' %>
				 <br>
					<ul class="post-list">
						<% @posts.each do |f| %>
							<h2><%= link_to f.title+" ("+f.topic.name.upcase+")", topic_post_path(f.topic_id,f), class: "list-heading" %></h2>
							<li class="list-body"><p><%= f.body %></p></li>
						<% end %>
					</ul>
				<% else %>
					<ul class="post-list">
						<% @posts.group_by{ |t| t.topic_id }.each do |topic , posts| %>
							<h1 class="text-center"> <%= Topic.find(topic).name %> </h1>
							<br>
							<% posts.each do |f| %>
								<h2><%= link_to f.title+" ("+f.topic.name.upcase+")", topic_post_path(f.topic_id,f), class: "list-heading" %></h2>
								<li class="list-body"><p><%= f.body %></p></li>
							<% end %>
						<% end %>
					</ul>
			<% end%>
      <br>
      <%= will_paginate @post, renderer: BootstrapPagination::Rails %>
		</div>
		<div class="co-md-6"></div>
	</div>
</div>
			
