<div class="container">
	<div class="row">
		<div class="offset-md-3 col-md-5">

			<%= bootstrap_form_for @post, url: topic_posts_path do |p| %>
				<%= p.text_field(:title) %>
				<%= p.text_area(:body) %>
				<%= p.text_field(:topic_id) %>
				<%= p.submit('create') %>
			<% end %>
		</div>
		<div class="col-md-offset-8"></div>
	</div>
</div>