<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="d-inline-block"> <%= @post.title %> </h1>
			<%= link_to 'Back', topic_posts_path(params[:topic_id]),class: "btn btn-dark d-inline-block post-btn" %>
			<%= link_to 'Edit', edit_topic_post_path(params[:topic_id],@post),class: "btn btn-warning d-inline-block post-btn" %>
			<%= link_to 'Delete', topic_post_path(params[:topic_id],@post), method: :delete , data: { confirm: 'Are you sure?' },class: "btn btn-danger d-inline-block post-btn" %>
  <div class="row">
      <div class="col-md-8">
      <% if @ratings.present? %>
        <p>
          <% @ratings.order(rating: :asc).group_by{ |t| t.rating }.each do |rating,collection| %>
          <div class="rating-view"><%= rating %>-Star:<%= collection.count %></div>
          <% end %>
        </p>
        <p> Rating: <%= @ratings.average(:rating).truncate(1) %> | Comment : <%= @comments.count %> </p>
			<% end %>
      <p ><%= render 'ratings/form', rating: @rating %></p>

			<p><strong> Tags:  
					<% @tag_relation.each do |t| %>
						<%= t.tag %>
					<% end %>
			</strong></p>
      </div>
      <div class="col-md-4 ">
        <% if @post.image.present? %>
          <%= image_tag @post.image.url(:medium) %>
        <% end %>
      </div>
  </div>
			<p><%= @post.body %></p>

			<%= render 'comments/form', comment:@comment%>
			<table class="table table-borderless">
        <% if @comments.present? %>
          <% @comments.each do |c| %>
          <tr>
          <td> <strong>Commenter:</strong> <%= c.commenter %> </td>
          <td> <strong>Body:</strong> <%= c.body %> </td>
          <td><%= link_to 'edit', edit_topic_post_comment_path(params[:topic_id],params[:id],c), comment:c , method_task: ':patch',class: "btn btn-warning btn-sm" %></td>
           <td><%= link_to 'delete', topic_post_comment_path(params[:topic_id],params[:id],c), method: :delete , data: { confirm: 'Are you sure?' },class: "btn btn-danger btn-sm" %>
           </td>
           </tr>
          <% end %>
			  <% end %>
			</table>

		</div>
		<div class="col-md-4"></div>
	</div>
</div>
