<div class="container">
	<div class="row">
		<div class="col-md-8">
			<h1> <%= @post.title %> </h1>

			
			<p> <strong> Tags:  
			<% @tags.each do |p| %>
				 <%= p.tag %>
			<% end %>
			</strong>
			</p>
			<p> <%= @post.body %> </p>
			<% @comments.each do |c| %>
				<p> <strong>Commenter:</strong> <%= c.commenter %> </p>
				<p> <%= c.body %></p>
			<% end %>
			<%= render 'comments/form' %>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
