<!DOCTYPE html>
<html>
  <head>
    <title>Taskfive</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation' %>
    <div id="main_content">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div id="flash-alert"></div>
            <% flash.each do |key, value| %>
                <%= content_tag :div,id:"flash-notice",class: "alert alert-#{['success','notice'].include?(key) ? 'success' : 'danger'}" do %>
                  <%= value %>
                <% end %>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
